.icon-upward::before {
    content: "\e911";
}

.icon-toward_right::before {
    content: "\e912";
}

.icon-scan::before {
    content: "\e913";
}

.icon-search::before {
    content: "\e914";
}

.icon-set::before {
    content: "\e915";
}

.icon-switch::before {
    content: "\e916";
}

.icon-toward_left::before {
    content: "\e917";
}

.icon-menu_one::before {
    content: "\e91a";
}

.icon-add1::before {
    content: "\e910";
}

.icon-password::before {
    content: "\e918";
}

.icon-people::before {
    content: "\e919";
}

.icon-stereoscopic::before {
    content: "\e900";
}

.icon-add::before {
    content: "\e901";
}

.icon-minus::before {
    content: "\e902";
}

.icon-wrong::before {
    content: "\e903";
}

.icon-arrive::before {
    content: "\e904";
}

.icon-door::before {
    content: "\e905";
}

.icon-downstairs::before {
    content: "\e906";
}

.icon-straight::before {
    content: "\e907";
}

.icon-left-front::before {
    content: "\e908";
}

.icon-left-rear::before {
    content: "\e909";
}

.icon-right-front::before {
    content: "\e90a";
}

.icon-right-rear::before {
    content: "\e90b";
}

.icon-Turn-around::before {
    content: "\e90c";
}

.icon-Turn-left::before {
    content: "\e90d";
}

.icon-Turn-right::before {
    content: "\e90e";
}

.icon-upstairs::before {
    content: "\e90f";
}
