.zoomContainer {
    width: 35px;
    background-color: rgba(255, 255, 255, 0.7);
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    // @include boxShadow(0.3, 8);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);

    > ul {
        > li {
            width: 35px;
            height: 35px;
            border-top: 1px solid transparent;
            border-bottom: 1px solid #bbbbbb;
            // border-bottom: 1px solid $base_color_gray;
            // color: $base_color_blue;
            align-items: center;

            &:last-child {
                border-bottom-color: transparent;
            }
        }
    }
}
