#container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow: hidden;

    .search_box {
        width: 100%;
        padding: 15px 10px;
        position: relative;
        right: 0;

        input {
            width: 100%;
            height: 30px;
            border-radius: 15px;
            padding-left: 30px;
            background: #ececec;
            // border: 1px solid #7d7562;
        }

        ::-webkit-input-placeholder {
            /* WebKit, Blink, Edge */
            font-size: 13px;
            color: #7d7562;
        }
        :-moz-placeholder {
            /* Mozilla Firefox 4 to 18 */
            font-size: 13px;
            color: #7d7562;
        }
        ::-moz-placeholder {
            /* Mozilla Firefox 19+ */
            font-size: 13px;
            color: #7d7562;
        }
        :-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            font-size: 13px;
            color: #7d7562;
        }

        .icon {
            position: absolute;
            top: 22px;
            left: 18px;
            width: 20px;
            height: 20px;
        }

        .close_search {
            position: absolute;
            top: 24px;
            right: 18px;
            width: 20px;
            height: 20px;

            i {
                font-weight: bold;
            }
        }
    }

    .search_type {
        height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ddd;
        background: #fff;
        position: relative;
        top: -1px;

        > div {
            width: 50%;
            height: 40px;
            text-align: center;
            line-height: 35px;

            > div {
                color: #7d7562;
                font-size: 13px;
                margin-right: 8px;
                position: relative;
            }
        }

        .type_active {
            div {
                font-weight: bold;
                color: #c6a76e;
            }

            // div::after {
            //     content: "";
            //     width: 50px;
            //     height: 2px;
            //     background: #7d7562;
            //     position: absolute;
            //     top: 30px;
            //     left: 50%;
            //     transform: translateX(-50%);
            // }
        }
    }

    .hot_recommend {
        width: 100%;
        height: 177px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 5px 25px;
        background: #a6a091;
        border-radius: 0px 0px 10px 10px;

        > div:first-child {
            font-size: 12px;
            color: #fff;
            flex-wrap: wrap;
            align-items: center;

            .recommend_list {
                display: flex;
                justify-content: flex-start;
                align-items: center;

                > div {
                    width: auto;
                    height: 20px;
                    line-height: 20px;
                    text-align: center;
                    // background-color: #ffbe44;
                    color: #fff;
                    border-radius: 10px;
                    font-size: 12px;
                    margin-left: 10px;
                }
            }
        }

        > div:last-child {
            width: 100%;
            height: auto;

            .history_title {
                width: auto;
                display: flex;
                justify-content: space-between;
                padding: 10px 0;
                border-bottom: 1px solid #bbb;

                > div {
                    font-size: 12px;
                    color: #fce2a6;
                }

                > div:last-child {
                    font-size: 13px;
                    color: #ffffff;
                }
            }
            .sort_list {
                > div {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 15px;

                    .sort_item {
                        position: relative;

                        > div:first-child {
                            width: 70px;
                            height: 30px;
                            font-size: 12px;
                            text-align: center;
                            line-height: 30px;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

    .floor_content {
        position: absolute;
        top: 89px;
        left: 0;
        background: rgba(5, 5, 5, 0.8);
        width: 100%;
        height: 100%;
        z-index: 1;

        > div {
            width: 100%;
            height: auto;
            background: #fff;
            // border-radius: 0px 0px 10px 10px;

            > div {
                height: 40px;
                border-bottom: 1px solid #ddd;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-size: 13px;
                padding: 0 15px;
                color: #000;

                > div {
                    margin-right: 25px;
                    font-size: 13px;

                    &:first-child {
                        font-weight: 500;
                        font-size: 14px;
                    }
                }

                &:last-child {
                    border-bottom: 0px;
                }
            }

            .floor_active {
                font-size: 13px;
                color: #c6a76e;
                font-weight: bold;
                border-bottom: 1px solid #c6a76e;
            }
        }
    }

    .sort_content {
        position: absolute;
        top: 89px;
        left: 0;
        background: rgba(5, 5, 5, 0.8);
        width: 100%;
        height: 100%;
        z-index: 1;

        > div {
            width: 100%;
            height: auto;
            background: #fff;
            // border-radius: 0px 0px 10px 10px;
            z-index: 1;

            > div {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                // box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
                // border-radius: 10px;
                padding-bottom: 10px;
                margin: 0 auto;

                > div {
                    width: 100%;
                    height: auto;

                    // .history_title {
                    //     width: auto;
                    //     display: flex;
                    //     justify-content: space-between;
                    //     padding: 10px 0;
                    //     margin: 0 15px;
                    //     border-bottom: 1px solid #bbb;

                    //     > div {
                    //         font-size: 12px;
                    //         color: #c6a76e;
                    //     }

                    //     > div:last-child {
                    //         font-size: 13px;
                    //         color: #000;
                    //     }
                    // }

                    .sort_title {
                        width: auto;
                        padding: 10px 0;
                        margin: 0 15px;
                        font-size: 12px;
                        color: #c6a76e;
                        font-weight: bold;
                        border-bottom: 1px solid #c6a76e;
                    }

                    .sort_list {
                        > div {
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            padding: 0 15px;

                            .sort_item {
                                position: relative;

                                > div:first-child {
                                    width: 70px;
                                    height: 30px;
                                    font-size: 12px;
                                    text-align: center;
                                    line-height: 30px;
                                    color: #000;
                                }

                                &:not(:last-child) {
                                    ::after {
                                        content: "";
                                        width: 1px;
                                        height: 10px;
                                        border-left: 2px solid #bbb;
                                        position: absolute;
                                        top: 9px;
                                        right: 0px;
                                    }
                                }
                            }
                        }
                    }
                }

                .active {
                    color: #c6a76e;
                }
            }
        }
    }

    .default_content {
        position: absolute;
        top: 89px;
        left: 0;
        background: rgba(5, 5, 5, 0.8);
        width: 100%;
        height: 100%;
        z-index: 1;

        > div {
            width: 100%;
            height: auto;
            background: #fff;
            // border-radius: 0px 0px 10px 10px;

            > div {
                width: 100%;
                height: 40px;
                border-bottom: 1px solid #ddd;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                font-size: 13px;
                padding: 0 15px;
                color: #000;
                margin-right: 25px;
                font-size: 13px;

                &:last-child {
                    border-bottom: 0px;
                }
            }

            .type_active{
                color: #c6a76e;
                font-weight: bold;
            }
        }
    }

    .floor_box {
        width: 100%;
        height: 100%;
        background: #fff;
        position: relative;
        top: -1px;
    
        .floor_res {
            width: 100%;
            height: 100%;
            background: #fff;
            overflow: hidden;
            box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
    
            .floor_title {
                width: 100%;
                height: 85px;
                text-align: center;
                line-height: 50px;
                font-size: 16px;
                font-weight: 500;
                padding-top: 16px;
                color: #7d7562;
                font-weight: bold;
            }
    
            .store_list {
                height: calc(100% - 50px);
                background: #fff;
    
                > div:first-child {
                    height: 35px;
                    border-bottom: 1px solid #ddd;
                    padding: 10px 0;
                    font-size: 13px;
                    margin: 0 15px;
                }
                .store_type {
                    height: 40px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    text-align: center;
                    margin: 0 15px;
                    color: #9c9c9c;
                    border-bottom: 1px solid #ddd;
    
                    > div {
                        width: auto;
                        padding: 10px 5px;
                        font-size: 12px;
                    }
    
                    .active {
                        color: #7d7562;
                        border-bottom: 1px solid #7d7562;
                        font-weight: 500;
                    }
                }
                .show_store {
                    width: 100%;
                    height: calc(100% - 75px);
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                    overflow: scroll;
                    padding: 10px 15px;
                    padding-top: 0px;
    
                    > div {
                        width: 100%;
                        // height: 100px;
                        display: flex;
                        justify-content: flex-start;
                        align-items: flex-start;
                        background: #ffffff;
                        margin-top: 15px;
                        position: relative;
                        border-radius: 10px;
                        padding: 10px;
                        box-shadow: 1px 1px 6px 0px rgba(132, 115, 90, 0.21);
    
                        > div:first-child {
                            margin-right: 10px;
    
                            > img {
                                width: 53px;
                                height: 53px;
                            }
                        }
    
                        .work_state {
                            position: absolute;
                            top: 0;
                            right: 0;
                            width: 50px;
                            height: 15px;
                            text-align: center;
                            line-height: 15px;
                            border-radius: 0px 10px;
                            font-size: 10px;
                            color: #fff;
                            background: linear-gradient(91deg, #F5BAA4, #FBA797, #FE9A95);
                        }
    
                        .store_info {
                            height: 45px;
                            display: flex;
                            flex-direction: column;
                            justify-content: space-between;
                            align-items: flex-start;
    
                            .store_title {
                                font-size: 14px;
                                font-weight: bold;
                                color: #333333;
                            }
    
                            > div:last-child {
                                display: flex;
                                flex-direction: column;
                                justify-content: space-between;
                                align-items: flex-start;
    
                                > div {
                                    color: #999999;
                                    font-size: 12px;
                                }
                            }
                        }

                        >img{
                            position: absolute;
                            top: 25px;
                            right: 15px;
                            width: 17px;
                        }
                    }
                }
            }
        }
    }
}

body {
    overflow: hidden;
}
