.layer {
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(5, 5, 5, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;

    .info_box {
        width: 270px;
        height: auto;
        background: #ffffff;
        box-shadow: 0px 1px 4px 0px rgba(125, 117, 98, 0.4);
        border-radius: 20px;
        position: relative;

        > img {
            position: absolute;
            top: -40px;
            left: 50%;
            transform: translateX(-50%);
            width: 46px;
        }

        > div:nth-child(2) {
            width: 100%;
            height: 50px;
            font-size: 16px;
            text-align: center;
            line-height: 60px;
            font-weight: bold;
            color: #6f7a8b;
        }

        > div:last-child {
            width: 100%;
            padding: 10px;

            > div {
                width: 98px;
                height: 24px;
                text-align: center;
                line-height: 24px;
                border-radius: 10px;
                font-size: 12px;
                color: #ffffff;
                background: #878b90;
                border: 1px solid #878b90;
            }
        }

        .destination {
            width: 100%;
            // height: 100px;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            position: relative;
            padding: 8px;

            > div:first-child {
                margin-right: 10px;

                > img {
                    width: 66px;
                    height: 66px;
                }
            }

            .store_info {
                height: 66px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;

                .store_title {
                    font-size: 16px;
                    font-weight: bold;
                    color: #333333;
                }

                > div:last-child {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: flex-start;

                    > div {
                        color: #a5a5a5;
                        font-size: 12px;
                    }
                }
            }
        }
    }

    .confirm_end {
        width: 270px;
        height: 172px;
        background: #ffffff;
        box-shadow: 0px 1px 4px 0px rgba(125, 117, 98, 0.4);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 10px;

        img {
            width: 46px;
        }

        > div:nth-child(2) {
            font-size: 16px;
            font-weight: bold;
            color: #6f7a8b;
            margin: 8px auto;
        }

        > div:last-child {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px 44px;

            > div {
                width: 70px;
                height: 25px;
                background: #fff;
                border: 1px solid #878b90;
                border-radius: 10px;
                color: #878b90;
                text-align: center;
                line-height: 22px;
            }

            > div:last-child {
                background: #878b90;
                color: #ffffff;
            }
        }
    }
}
